/* ---- GLOBAL STYLES ---- */

html {
    font-size: 16px;
}

body {
    display: flex;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1em;
    justify-content: center;
}

.container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1200px;
    width: 90%;
}

h1, h2, h3 {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 1.875em;
    text-align: center;
}

h2 {
    font-size: 1.125em;
}

h3 {
    font-size: 0.75em;
}

p {
    font-size: 0.875em;
    line-height: 1.3125em;
}

/* ---- HEADER SECTION ---- */

header {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
}

#headline {
    align-items: center;
    border-bottom: 3px solid #77a466;
    display: flex;
    justify-content: center;
    width: 100%;
}

header h1 {
    margin: 20px 0;
}

header h1 span {
    color: #77a466;
}

header nav {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

header nav ul {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    font-size: 0.875em;
    font-weight: 700;
    padding: 15px 0;
    text-transform: uppercase;
}

header nav ul li a {
    color: #77a466;
    text-decoration: none;
}

/* ---- ABOUT SECTION and INFO DIVS ---- */

.top-section, .bottom-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.bottom-section {
    border-top: 1px solid #eee;
}

.main-image img {
    border-top: 3px solid #77a466;
    border-bottom: 3px solid #77a466;
    width: 100%;
}

.main-title {
    padding: 25px 0;
}

.main-title h2 {
    color: #77a466;
    padding-bottom: 25px;
    text-align: left;
}

.main-title p {
    font-size: 1em;
    line-height: 1.5625em;
}

.section-one, .section-two, .section-three {
    padding: 25px 0;
    width: 100%;
}

.section-two, .section-three {
    border-top: 1px solid #eee;
}

h3 {
    padding: 10px 0;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    color: #77a466;
    padding: 10px 0;
}

.reviews {
    color: #333;
    font-size: 1em;
    line-height: 1.3125em;
}

.address {
    font-size: 1em;
    line-height: 1.5em;
}

/* ---- FOOTER SECTION ---- */

footer {
    align-items: center;
    border-top: 3px solid #eee;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    text-align: center;
    width: 100%;
}

footer span {
    color: #77a466;
    font-family: 'Galada', cursive;
    font-size: 0.875em;
    text-transform: lowercase;
}

/* ---- TABLET STYLES FOR WIDTH > 768px ---- */

@media (min-width: 768px) {
    .section-one, .section-two, .section-three {
        width: 29.6%;
    }
    .section-two, .section-three {
        border-top: none;
        border-left: 1px solid #eee;
    }
    .section-two {
        padding: 25px;
    }
    .section-three {
        padding: 25px 0 25px 25px;
    }
}

/* ---- DESKTOP STYLES FOR WIDTH > 1200px ---- */

@media (min-width: 1200px) {
    header {
        align-items: left;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    #headline {
        border: none;
        justify-content: flex-start;
    }
    header nav ul {
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    header nav ul li {
        display: inline;
        font-size: 0.875em;
        font-weight: 700;
        padding-left: 20px;
        text-transform: uppercase;
    }
}